<!DOCTYPE html>
<html lang="en-us">

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/blackdoc.css">

  <body>

  {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>


<nav class="main-nav">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="/stat/" {% if page.url == "/stat/" %}class="active"{% endif %}>Statistical Resources</a></li>
  </ul>
</nav>
